.navbar-wrapper {
    display: flex;
    padding: 8px;
    width: 100%;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,.1);
    background-color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.navbar-logo {
    height: 50px;

}

.navbar-logo-inside {
    height: inherit;
    align-items: center;

}

.navbar-cat {
    display: flex;
    justify-content: center;
    gap: 15px;
    /* padding: 0 10px; */

}

.inner-cat {
    /* padding: 0px 15px; */
}

.navbar-search {
    /* width: 50%; */
}
.inside-search{
    width: inherit;
    text-align: center;
    left: 30px;

}

.navbar-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    
}

.icon-inside{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0;
    padding-right: 15px;
    text-align: center;
}